<section id="fabs-examples">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Top projets</div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-content">
                    <div class="card-img">
                        <img class="img-fluid" src="assets/img/photos/15.jpg" alt="Card image cap">
                        <a class="btn btn-floating halfway-fab btn-large bg-danger"><i class="ft-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="card-link danger">Card link</a>
                    <a class="card-link danger">Another link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">En chiffres</div>
        </div>
    </div>


    <div class="row text-left" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-warning">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>278</h3>
                                <span>New Projects</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-rocket white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-success">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>156</h3>
                                <span>New Clients</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-user white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-danger">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>64.89 %</h3>
                                <span>Conversion Rate</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-pie-chart white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-content">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>423</h3>
                                <span>Support Tickets</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-support white font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
